.navbar {
    height: 40px;
    padding-left: 62px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left {
    flex: 1;
}

.right {
    padding-right: 24px;
}

.userTrigger {
    display: inline-flex;
    align-items: center;
}

.userIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 6px;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    color: #1f1f1f;
    box-shadow: none;
    font-size: 14px;
}
