.navbar {
    height: 40px;
    padding-left: 62px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left {
    flex: 1;
}

.right {
    padding-right: 24px;
}