.app-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1vh;
  grid-template-areas:
    "header header"
    "navbar content";
  grid-template-rows: 8vh 90vh;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #E9EBF8;
  box-shadow: -1px -1px 5px #8D818C;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

html, body {
  height: 100%;
  background-color: #fefffe;
}